.mosaic-gallery-container
{
	margin: 0 -5px;
	padding: 0 0 calc(2rem) 0;
}

.mosaic-gallery
{
	position: relative;
	max-width: 100%;
	width: 100%;
}

/* Sizer defines the column width */
.sm-gallery-sizer
{
	width: 25%;
}

/* Items inherit the sizer's width */
.sm-gallery-item
{
	width: 25%;
	float: left;
	padding: 0 5px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

.sm-gallery-item figure
{
	overflow: hidden;
	margin: 0;
}

.sm-gallery-item img
{
	display: block;
	width: 100%;
	height: auto;
	transition: transform 0.3s ease;
}

/* Hover Effect */
.mosaic-gallery .sm-gallery-item:hover img
{
	transform: scale(1.03);
}

.pk-scroll-to-top .pk-icon,
.pk-icon .pk-icon-up,
.pk-icon-up
{
	transition: transform 1s ease !important;
}

.pk-scroll-to-top
{
	display: inline-block;
}

.pk-scroll-to-top.pk-active
{
	opacity: .7;
}

/* Responsive breakpoints */
@media (max-width: 1200px)
{
	.sm-gallery-sizer,
	.sm-gallery-item
	{
		width: 33.333%;
	}
}

@media (max-width: 768px)
{
	.sm-gallery-sizer,
	.sm-gallery-item
	{
		width: 50%;
	}
}

@media (max-width: 480px)
{
	.sm-gallery-sizer,
	.sm-gallery-item
	{
		width: 100%;
	}
}
